@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.titulo-principal{
    
    padding: 16px;

}

body{
    background:linear-gradient(to right,#DCDCDC,#006400,#3CB371, #8B0000, #00CED1, #00BFFF,#FFFF00,#F0E68C,#EE82EE, #6A5ACD, #000000) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

h1{
    padding: 5px;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
    max-width: 1200px;

}

.pokemon{
    background-color: #DCDCDC;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgb(211, 210, 210);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
    align-items: center;

    background-image: url('img/poke.png');
    background-size: cover;     
    background-position: center; 


}

img{
    max-width: 100%;
}

.info{
    padding: 6px;
}

.number{
    color: #DCDCDC;
    background-color:#222222b9;
    padding: 2px 7px;
    border-radius: 12px;
    align-items: center;
   
}

.name{
    margin: 6px 0 0 0 ;
    letter-spacing: 2px;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

#search {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.poke-onion{
    width: 100px;
    height: 100px;
}